@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

main {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/pics/heroBread.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#hero-div {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
    font-size: 18px;
}

#hero-div img {
    width: 150px;
    height: auto;
}

#hero-div h1 {
    font-size: 50px;
    line-height: 1.25;
}

#hero-div p {
    line-height: 2;
    width: 80%;
}

#spacer {
    padding: 50px;
}

#hero-btn {
    font-weight: 700;
    display: inline-block;
    padding: 15px 40px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#hero-btn:hover {
    background-color: #fff;
    color: #000;
    transition: .25s ease-in-out;
}

#feature-section {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

#feature-head {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 40px;
    padding-top: 4rem;
}

.benefit {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.benefit img {
    width: 100px;
    height: auto;
}

.benefit h3 {
    width: 75%;
    line-height: 1.5;
}

.benefit p {
    line-height: 1.75;
}

footer {
    background-color: #000;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: center;
    gap: 4rem;
    transform: perspective(500px) rotateX(15deg);
    z-index: 1;
}

nav button {
    text-transform: uppercase;
    background: none;
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 8px;
    border-width: 2px;
    border-top: none;
    color: white;
    cursor: pointer;
    padding: 20px 40px;
}

nav button:hover {
    background-color: #fff;
    color: #000;
    transition: .25s ease-in-out;
}